<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hgse.peaklauncher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
	        android:name="com.hgse.peaklauncher.HomeActivity"
	        android:label="Peak Launcher Home"
	        android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
	        android:launchMode="singleTask"
	        android:stateNotNeeded="true"
	        >
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN"></action>
	            <category android:name="android.intent.category.HOME"></category>
	            <category android:name="android.intent.category.DEFAULT"></category>
	        </intent-filter>
    	</activity>
    
	    <activity
	        android:name="com.hgse.peaklauncher.AppsListActivity"
	        android:title="@android:style/Theme.NoTitleBar.Fullscreen">
	    </activity>
    </application>
</manifest>
